.main-container{
    max-width: 1440px;
    margin: 0 auto;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.207),0 2px 2px rgba(0, 0, 0, 0.207);
}
.section{
    display: flex;
    margin-bottom: 32px;
}
.section .image {
    width: 30%;
    display: flex;
    flex-direction: row-reverse;
}
.section .image img {
    width: 50%;
}
.section .text{
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 48px;
    background-color: #ffffff;
    letter-spacing: 1px;
}
.text h1 , p {
    margin: 0;
    font-weight: 500;
}
.text h1 {
    color: #000000;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    margin-bottom: 24px;
}
.text p{
    color: #000000;
    text-align: center;
    font-weight: 550;
    margin-bottom: 5px;
    font-size: 19px;
}

@media (max-width:420px){
    .text h1 {
        font-size: 10px;
    }
}
@media( max-width:920px){
    .section{
        flex-direction: column;
    }
    .section .image {
        width: 100%;
    }
    .section .text {
        width: 100%;
    }
    .text h1 {
        font-size: 40px;
    }
    .text p {
        letter-spacing: 1px;
    }
}
.dotlist ul {
    margin-bottom: 40px;
}
.dotlist li {
    font-weight: 600;
    letter-spacing: 1px;
    padding-bottom: 10px;
}
.numlist li {
    margin: 5px 0;
    font-size: 16px;
}
.numlist li a:hover {
    color: rgb(181, 157, 19); 
    text-decoration: underline; 
}
.bin_dec_table {
    width: 100%;
    border-collapse: collapse; 
    table-layout: fixed;

}
.bin_dec_table th {
    border: 1px solid #000; /* Black border for the headers */
    background-color: #f2f2f2; /* Light grey background */
    padding: 8px;
    text-align: center;
    min-height: 40px;
    min-width: 100px;
}
.bin_dec_table td {
    border: 1px solid #000; /* Black border for the data cells */
    padding: 8px;
    text-align: center;
    min-height: 40px;
    min-width: 100px;
}
.bin_dec_table tr {
    min-height: 40px; 
}
.question  {
    padding:0%
}
.question p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: left;
    padding: 5px;
}
.userValue {
    display: flex;
    gap: 10px; /* Spacing between buttons */
    justify-content: center; /* Center buttons horizontally */
    margin-top: 20px; /* Add some space above the buttons */
}
.userValue button{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: transform 0.2s, background-color 0.2s;
}
.submitBtn{
    background-color: #4CAF50; 
    color: white;
    border-radius: 5px; 
}
.playBtn{
    background-color: #4CAF50; 
    color: white;
    border-radius: 5px; 
}
.playBtn:hover{
    background-color: #45a049;
    transform: scale(1.05);
}
.homeBtn{
    background-color: #008CBA; 
    color: white;
    border-radius: 5px; 
}
.homeBtn:hover{
    background-color: #007BB5;
    transform: scale(1.05);
}