{% extends "base.html" %}

{% block title %}NetQuizzer - Network Learning Made Fun{% endblock %}

{% block content %}
    <!-- main body elements -->
        <div class="main-container">
            <section class="first section">
                <div class="image">
                    <img src="{{ url_for('static', filename='images/presenting_trojan.png') }}" alt="presenting trojan">
                </div>
                <div class="text">
                    <h1>Binary to Decimal Challenge</h1>
                    <table class="bin_dec_table">
                        <thead>
                            <tr>
                                <th scope="col">128</th>
                                <th scope="col">64</th>
                                <th scope="col">32</th>
                                <th scope="col">16</th>
                                <th scope="col">8</th>
                                <th scope="col">4</th>
                                <th scope="col">2</th>
                                <th scope="col">1</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <!-- decimal table, auto binary number input-->
                                {% if game_over %}
                                {% for bit in random_binary %}
                                    <td>{{ bit }}</td>
                                {% endfor %}
                            {% else %}
                                {% for _ in range(8) %}
                                    <td>?</td>
                                {% endfor %}
                            {% endif %}
                            </tr>
                        </tbody>
                    </table>
                    <div class="question">
                        <!-- Display the random binary number generated in the backend -->
                        <p>Convert To Decimal: {{ random_binary }}</p>
                    </div>
                    <div class="userValue">
                        <!-- Form to capture user guess -->
                        {% if not game_over %}
                            <form method="post">
                                <!-- user's wrong guesses -->
                                <div class="wrongGuesses" style="color: black">
                                    {% if wrong_guesses %}
                                        <u><strong>Previous Guesses</strong></u>: {% for guess in wrong_guesses %}<span style="color: red; font-weight: bold;">{{ guess }}</span>{% if not loop.last %}, {% endif %}{% endfor %}
                                    {% endif %}
                                    
                                </div>
                                <label for="user_guess">Enter the Decimal Value:</label>
                                <input type="number" id="user_guess" name="user_guess" required>
                                <button type="submit" class="submitBtn">Submit</button>
                                <p>Attempts Remaining: <span style="color: #D81B60;">{{ 3 - session.counter }}</span></p>
                            </form>
                           
                        {% endif %}
                        {% if game_over %}
                            <form method="GET" action="{{ url_for('binary_to_decimal') }}">
                                <button type="submit" class="playBtn">Play Again</button>
                            </form>
                            <form method="GET" action="{{ url_for('main') }}">
                                <button type="submit" class="homeBtn">Return Home</button>
                            </form>
                        {% endif %}
                    </div>
                    <div class="answer">
                        <!-- Display result after form submission -->
                        {% if result %}
                        <p>{{ result }}</p>
                        {% if correct %}
                            <p>{{correct}}</p>
                        {% endif %}

                        {% endif %}
                    </div>
                </div>
            </section>
        </div>
        {% endblock %}

        {% block custom_scripts %}
        <script type="text/javascript">
            (function(d, t) {
                var v = d.createElement(t), s = d.getElementsByTagName(t)[0];
                v.onload = function() {
                  window.voiceflow.chat.load({
                    verify: { projectID: '67a38b89ad8e9127157757b2' },
                    url: 'https://general-runtime.voiceflow.com',
                    versionID: 'production'
                  });
                }
                v.src = "https://cdn.voiceflow.com/widget-next/bundle.mjs"; v.type = "text/javascript"; s.parentNode.insertBefore(v, s);
            })(document, 'script');
        </script>
        {% endblock %}


