<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wildcard Mask Quiz</title>

    <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}" type="image/jpeg">
    <!-- links for reference -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <div class="header">
        <div class="header-container">
            <div class="left-bar">
                <div class="logo">
                    <a href="{{ url_for('main') }}"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo"></a>
                </div>
                <nav>
                    <ul>
                        <li><a href="{{url_for('binary_to_decimal')}}">Binary to Decimal</a></li>
                        <li><a href="{{url_for('decimal_to_binary')}}">Decimal to Binary</a></li>
                        <li><a href="{{url_for('classful_quiz')}}">Classful Address Analysis</a></li>
                        <li><a href="{{url_for('subnet_quiz_route')}}">Wildcard Mask Practice</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</head>
<body>
    <div class="subnet-container">
        <h1 class="subnet-header">Subnet Quiz</h1>
        <div class="userValue">
            <form method="POST">
                {% for question in questions %}
                <div class="question">
                    <label>{{ question.question }}</label><br>
                    <input type="text" name="{{ question.question }}" value="">
                    {% if results %}
                        {% for result in results %}
                            {% if result.question == question.question %}
                            <span class="feedback {% if result.correct %}correct{% else %}incorrect{% endif %}">
                                {{ '✓ Correct' if result.correct else '✗ Incorrect' }} 
                                (Correct Answer: {{ result.correct_answer }})
                            </span>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
                {% endfor %}
                {% if not results %}
                <form>
                    <button type="submit" class="submitBtn">Check All</button>
                    <form method="GET" action="{{ url_for('main') }}">
                        <button type="submit" class="homeBtn">Return Home</button>
                    </form>
                </form>
                
                {% else %}
                    <form method="GET"> 
                        <button class="submitBtn"><a  href="{{ url_for('subnet_quiz_route') }}">New Challenge</a></button>
                        <form method="GET" action="{{ url_for('main') }}">
                            <button type="submit" class="homeBtn">Return Home</button>
                        </form>
                    </form>
                {% endif %}
            </form>
            <div class="image">
                <img src="{{ url_for('static', filename='images/sword_trojan.png') }}" alt="presenting trojan">
            </div>
            
        </div>
    </div>
</body>
</html>